<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/livros/add" class="btn">Adicionar livros</a>
    </div>
    <h3>Seus Livros:</h3>
</div>    